<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhattaraibikash.erepair">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoCO5jGdsXmzfjJxme77WwO46b5niOMJQ" />

        <activity android:name=".activities.info.ContactInfoActivity"></activity>
        <activity android:name=".activities.info.AboutActivity" />
        <activity android:name=".activities.info.ProfessionalActivity" />
        <activity android:name=".activities.profile.ChangePasswordActivity" />
        <activity android:name=".activities.profile.EditProfileActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>